DATABASE_URL=postgresql://neondb_owner:npg_5HDg4cKpojYW@ep-long-feather-adkj8pb3-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=8080
JWT_SECRET=helloworld
EXCHANGERATE_API_KEY=819e980064-2bcc522514-t755ul
AUDIT_PASSWORD=admin123